footer.footer
	.mycontainer
		.footer-row
			.footer-row-col
				.footer-row__logo-box
					picture.logo-pic
						source(srcset="./assets/images/logo1.webp" type="image/webp") 
						img(src="./assets/images/logo1.svg" alt="logo")
					.logo-text Intuitive Cosmetics
				.footer-row__copy &copy; 2021 Innes. Права защищены.
				//- a.footer-row__link(href="tel:88006000001") 8 800 600 00 01
				//- a.footer-row__link(href="mailto:info@innes.ru") info@innes.ru
			.footer-row-col
				.footer-row__title Покупателям
				.footer-row-socials
					a(href="#") 
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="24" cy="24" r="24" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23.5949 14.003L24.0015 14.003C27.2589 14.003 27.645 14.0148 28.9314 14.0732C30.1209 14.1276 30.7664 14.3263 31.1964 14.4933C31.7658 14.7144 32.1717 14.9788 32.5985 15.4058C33.0255 15.8328 33.2898 16.2395 33.5115 16.8088C33.6785 17.2384 33.8775 17.8839 33.9316 19.0734C33.99 20.3595 34.0027 20.7458 34.0027 24.0016C34.0027 27.2575 33.99 27.6438 33.9316 28.9299C33.8772 30.1194 33.6785 30.765 33.5115 31.1945C33.2903 31.7638 33.0255 32.1693 32.5985 32.596C32.1715 33.023 31.766 33.2874 31.1964 33.5085C30.767 33.6762 30.1209 33.8745 28.9314 33.9288C27.6452 33.9873 27.2589 34 24.0015 34C20.7439 34 20.3578 33.9873 19.0716 33.9288C17.8821 33.8739 17.2366 33.6752 16.8063 33.5082C16.237 33.2871 15.8303 33.0227 15.4033 32.5957C14.9763 32.1687 14.712 31.7631 14.4903 31.1935C14.3233 30.764 14.1243 30.1184 14.0701 28.9289C14.0117 27.6429 14 27.2565 14 23.9986C14 20.7408 14.0117 20.3565 14.0701 19.0703C14.1246 17.8809 14.3233 17.2353 14.4903 16.8053C14.7114 16.2359 14.9763 15.8293 15.4033 15.4023C15.8303 14.9753 16.237 14.7109 16.8063 14.4893C17.2363 14.3216 17.8821 14.1233 19.0716 14.0686C20.1971 14.0178 20.6333 14.0026 22.9071 14V14.003C23.1151 14.0028 23.3387 14.0029 23.5796 14.0029L23.5949 14.003ZM29.0497 17.4923C29.0497 16.6838 29.7056 16.0288 30.5138 16.0288C31.3221 16.0288 31.9778 16.684 31.9778 17.4923C31.9778 18.3005 31.3221 18.9563 30.5138 18.9563C29.7056 18.9563 29.0497 18.3005 29.0497 17.4923ZM24.0013 17.7393C20.5413 17.7394 17.7363 20.5446 17.7363 24.0045C17.7363 27.4644 20.5415 30.2684 24.0015 30.2684C27.4615 30.2684 30.2657 27.4644 30.2657 24.0045C30.2657 20.5445 27.4613 17.7393 24.0013 17.7393Z" fill="#111111" fill-opacity="0.75"/>
							<path d="M24.0015 19.9378C26.2473 19.9378 28.0681 21.7584 28.0681 24.0044C28.0681 26.2502 26.2473 28.071 24.0015 28.071C21.7554 28.071 19.9348 26.2502 19.9348 24.0044C19.9348 21.7584 21.7554 19.9378 24.0015 19.9378Z" fill="#111111" fill-opacity="0.75"/>
						</svg>
					a(href="#") 
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="24" cy="24" r="24" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M25.5266 28.9676C25.3418 29.1634 24.9809 29.203 24.9809 29.203H23.7855C23.7855 29.203 21.1482 29.3592 18.825 26.975C16.2915 24.3738 14.0543 19.2128 14.0543 19.2128C14.0543 19.2128 13.9252 18.8743 14.0651 18.7113C14.2226 18.5271 14.652 18.5155 14.652 18.5155L17.5093 18.4972C17.5093 18.4972 17.7784 18.5406 17.971 18.6804C18.1305 18.7962 18.2195 19.0113 18.2195 19.0113C18.2195 19.0113 18.6812 20.1629 19.2926 21.2045C20.487 23.2386 21.0426 23.6832 21.4476 23.4652C22.0384 23.1479 21.8613 20.5901 21.8613 20.5901C21.8613 20.5901 21.8721 19.6623 21.564 19.2485C21.3253 18.9283 20.8753 18.8347 20.6767 18.8087C20.5153 18.7875 20.7795 18.419 21.1218 18.2542C21.6363 18.0063 22.5441 17.9918 23.6172 18.0024C24.4536 18.011 24.6942 18.0622 25.0209 18.1403C25.7792 18.3207 25.7555 18.8989 25.7045 20.1468C25.6891 20.52 25.6714 20.953 25.6714 21.4533C25.6714 21.5657 25.6681 21.6856 25.6647 21.8089C25.647 22.4481 25.6266 23.1802 26.0539 23.4527C26.273 23.5915 26.8081 23.473 28.1473 21.2314C28.7821 20.1686 29.2575 18.9196 29.2575 18.9196C29.2575 18.9196 29.3622 18.6968 29.5236 18.6013C29.6889 18.5039 29.912 18.5338 29.912 18.5338L32.9189 18.5155C32.9189 18.5155 33.8228 18.4084 33.9685 18.8116C34.1221 19.233 33.6311 20.2187 32.4024 21.8333C31.237 23.3653 30.6698 23.9293 30.7219 24.4282C30.7599 24.7927 31.1286 25.1223 31.8361 25.7694C33.3129 27.1214 33.7088 27.8327 33.8039 28.0036C33.8118 28.0177 33.8176 28.0281 33.8218 28.035C34.4841 29.1181 33.0872 29.203 33.0872 29.203L30.4157 29.2396C30.4157 29.2396 29.8425 29.3515 29.0873 28.8403C28.6917 28.5728 28.3052 28.1358 27.937 27.7196C27.3747 27.0839 26.8553 26.4968 26.412 26.6355C25.6675 26.8689 25.69 28.4497 25.69 28.4497C25.69 28.4497 25.6959 28.7882 25.5266 28.9676Z" fill="#111111" fill-opacity="0.75"/>
						</svg>
					a(href="#") 
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="24" cy="24" r="24" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M33.582 19.2447C33.352 18.3611 32.6743 17.6653 31.8137 17.4291C30.2542 17 24 17 24 17C24 17 17.7458 17 16.1862 17.4291C15.3255 17.6653 14.6478 18.3611 14.4178 19.2447C14 20.8461 14 24.1875 14 24.1875C14 24.1875 14 27.5288 14.4178 29.1303C14.6478 30.0139 15.3255 30.7097 16.1862 30.9459C17.7458 31.375 24 31.375 24 31.375C24 31.375 30.2542 31.375 31.8137 30.9459C32.6743 30.7097 33.352 30.0139 33.582 29.1303C34 27.5288 34 24.1875 34 24.1875C34 24.1875 34 20.8461 33.582 19.2447ZM22.125 21.375V27.625L27.125 24.5001L22.125 21.375Z" fill="#111111" fill-opacity="0.75"/>
						</svg>
					a(href="#") 
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="24" cy="24" r="24" fill="white"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M25.2054 23.9988V34H21.0674V23.9992H19V20.5527H21.0674V18.4835C21.0674 15.6719 22.2347 14 25.5513 14H28.3124V17.4468H26.5865C25.2955 17.4468 25.2101 17.9285 25.2101 18.8274L25.2054 20.5524H28.332L27.9661 23.9988H25.2054Z" fill="#111111" fill-opacity="0.75"/>
						</svg>
			.footer-row-col
				.footer-row__title Дарим скидку 10% за подписку на нашу рассылку
				form.general-form(action="#")
					input.general-itemInput__input(data-type="email" data-required="" placeholder="Введите ваш Email")
					button.general__btn(type="submit") Подписаться
				.footer-row__text Нажимая на кнопку "Подписаться",<br>Вы соглашаетесь с 
					a(href="#") условиями использования сайта.
		//- .footer-row
		//- 	a.footer-row__link(href="#") Главная
		//- 	a.footer-row__link(href="#") Магазин
		//- 	a.footer-row__link(href="#") Контакты
		//- 	a.footer-row__link(href="#") Доставка и возврат
		//- 	a.footer-row__link(href="#") Блог
		//- 	a.footer-row__link(href="#") FAQ
		//- 	a.footer-row__link(href="#") Оплата
		//- 	a.footer-row__link(href="#") Политика конфиденциальности
		//- .footer-row
		//- 	.footer-row__text © 2020 Innes. Права защищены.
		//- 	.footer-row__text Разработка сайта в 
		//- 		a(href="https://ra-studio.ru/") RA-Studio