footer.footer.footer_main
	section.subscribe.block-margin
		.mycontainer
			.subscribe-form
				.form-item
					h2.form-item-title Подпишитесь на рассылку
					p.form-item-sub-title Узнавайте первыми об акциях и эксклюзивных предложениях и будьте в курсе последних новинок
				.form-item.item-right
					.subscribe-input-box
						input.subscribe-input(type="email" pattern=".+@." required placeholder="Введите ваш e-mail")
						button.subscribe-btn Подписаться
					p.subscribe-agree Нажимая на кнопку “Подписаться” Вы соглашаеткесь с Правилами обработки персональных данных
	section.footer-contacts
		.footer-contacts-row
			.footer-contacts-content
				.footer-contacts-inst
					a(href="https://www.instagram.com/?hl=ru").footer-contacts-link.link-img
						img(src="./assets/images/header_social_inst.svg" alt="instagram-icon")
					a(href="https://www.instagram.com/?hl=ru").footer-contacts-link
						span @innes.ru
				a(href="tel:88006000001").footer-contacts-link 8&nbsp;800&nbsp;600&nbsp;00&nbsp;01	  
	.mycontainer
		.footer-row
			.footer-row-col
				.footer-row__logo-box
					picture.logo-pic
						source(srcset="./assets/images/logo1.webp" type="image/webp") 
						img(src="./assets/images/logo1.svg" alt="logo")
					.logo-text Intuitive Cosmetics
				.footer-row__copy &copy; 2021 Innes. Права защищены.
				//- a.footer-row__link(href="tel:88006000001") 8 800 600 00 01
				//- a.footer-row__link(href="mailto:info@innes.ru") info@innes.ru
			.footer-row-col
				.footer-row__title.footer-row__title-col Покупателям
				a.footer-row__link(href="#") Контакты
				a.footer-row__link(href="#") Оплата
				a.footer-row__link(href="#") Доставка и возврат
				a.footer-row__link(href="#") Политика конфиденциальности
			.footer-row-col
				.footer-row__title.footer-row__title-col Компания
				a.footer-row__link(href="#") О нас
				a.footer-row__link(href="#") FAQ
				a.footer-row__link(href="#") Блог
			.footer-row-col
				.footer-row__title.footer-row__title-col Контакты
				.contacts-box
					a.contacts-box__phone-link(href="tel:88006000001") 8&nbsp;800&nbsp;600&nbsp;00&nbsp;01
					.contacts-box__social-box
						a.social-link(href="https://www.instagram.com/" target="_blanc")
							img(src="./assets/images/header_social_inst.svg" alt="instagram-icon")
						a.social-link(href="https://vk.com/" target="_blanc")
							img(src="./assets/images/header_social_vk.svg" alt="vk-icon")
				.payment-box 
					p.payment-box__title Способы оплаты
					.payment-box__system-box
						img(src="./assets/images/master card.svg" alt="master card-icon")
						img(src="./assets/images/visa.svg" alt="visa-icon")

		//- 	.footer-row__text Разработка сайта в 
		//- 		a(href="https://ra-studio.ru/") RA-Studio