extends ../template

block variables
	- var title = 'О компании'

block content
	.about
		section.about-banner(style="background-image: url('assets/images/about-bg-desktop.jpg')")
			.mycontainer
				.about-banner-info
					h1.title Интуитивная косметика Innes
					.about-banner-info__text Inner — «духовный».
					.about-banner-info__text Intense — «интенсивный».
					.about-banner-info__text Sense — «ощущение».
					.about-banner-info__text Innocence — «невинность».
		
		section.about-info.info-top.block-margin
			.mycontainer
				.about-info-col
					h2.title Интуитивное понимание
					p Интенсивный ритм мегаполиса оставляет свой отпечаток на твоём стиле жизни. Ты стараешься успеть всё, не забыв при этом и о себе. Тебе важно, чтобы тебя понимали без лишних вопросов.
					p Ты знаешь свой тип кожи и её потребности. а мы — твой образ жизни.
				.about-info__img
					img.lazy(data-src="assets/images/about-info1.jpg", alt="")

		section.about-grid.block-margin
			.mycontainer
				.about-grid-items
					a.about-grid-items-item(href="catalog.html")
						.about-grid-items-item__img
							img.lazy(data-src="assets/images/about-grid1.jpg", alt="")
						.about-grid-items-item__title Уход за волосами
						.about-grid-items-item__text У каждого человека волосы имеют свои свойства. Вы легко узнаете, как проявить лучшие особенности своих.
					a.about-grid-items-item(href="catalog.html")
						.about-grid-items-item__img
							img.lazy(data-src="assets/images/about-grid2.jpg", alt="")
						.about-grid-items-item__title Уход за телом
						.about-grid-items-item__text Ухаживая за кожей лица, мы иногда забываем, что и тело нуждается в постоянном уходе.
					a.about-grid-items-item(href="catalog.html")
						.about-grid-items-item__img
							img.lazy(data-src="assets/images/about-grid3.jpg", alt="")
						.about-grid-items-item__title Уход за лицом
						.about-grid-items-item__text Три основных этапа ухода за кожей лица: очищать, тонизировать и увлажнять ее.
					a.about-grid-items-item(href="blog.html")
						.about-grid-items-item__img
							img.lazy(data-src="assets/images/about-grid4.jpg", alt="")
						.about-grid-items-item__title Блог
						.about-grid-items-item__text Рассказываем, как выбрать и использовать любой продукт, и даём советы по выбору средства
				.about-grid-col
					h2.title Что мы делаем
					.about-grid-col__text Уходовая косметика из натуральных</br>материалов, сделанная с любовью.
					a.about-grid-col__btn.btn-border(href="catalog.html") Перейти в каталог

		section.about-info.info-bottom.mobile-col.block-margin
			.mycontainer
				.about-info-col
					h2.title Почему мы?
					p Мы производим натуральную косметику широкого спектра действия. Все ингредиенты проходят обязательную сертификацию европейских стандартов, а средства сформулированы так, что вещества хорошо сочетаются друг с другом. Мы не тестируем средства на животных и практикуем устойчивое производство.
					p — Мы стараемся максимально быстро отвечать на запросы в любом месседжере и соцсетях: можно написать нам за советом даже в личные сообщения Instagram.
					p — Всегда есть скидка на первый заказ и за подписку на нашу рассылку (мы с ними не частим, а пишем только полезное).
					p — Когда в магазине закончился нужный продукт, его появление можно отслеживать — а мы дадим скидку 15%, чтобы чуть сгладить ожидание.
				.about-info__img
					img.lazy(data-src="assets/images/about-info2.jpg", alt="")






