extends ../template

block variables
	- var title = 'Оплата'

block content
	section.basket
		.mycontainer
			.title Оформление заказа
			.basket-content.block-margin
				//- Не смущаемся названий классов. Изначально было сделано табами, потом переделано на отдельные страницы
				.basket-content-tabs.tabs
					.basket-content-tabs-navigation
						a.basket-content-tabs-navigation__item.tabs-navigation-item(href="busket.html") 1. Корзина
						a.basket-content-tabs-navigation__item.tabs-navigation-item.active(href="basket_delivery.html") 2. Доставка
						a.basket-content-tabs-navigation__item.tabs-navigation-item(href="basket_payment.html") 3. Оплата
						//- .basket-content-tabs-tab.tabs-tab#tab1
						//- 	.basket-content-tabs-tab-box
					.basket-content-tabs-tab.tabs-tab.active
						form.payment-form(action="#")
							.basket-content-delivery-row.row__way
								h2.basket-content-delivery-row__title Способ оплаты
								.basket-content-delivery-row__block
									.basket-content-delivery-row-col
										label.custom-radio
											p.basket-content-delivery-row-col__title Картой онлайн
											p.basket-content-delivery-row-col__text Мы внимательно следим за безопасностью обработки ваших данных
											input(type="checkbox" name="сourier" value="1")
									.basket-content-delivery-row-col
										label.custom-radio
											p.basket-content-delivery-row-col__title Наличными при получении
											p.basket-content-delivery-row-col__text Доставка не будет бесконтактной
											input(type="checkbox" name="pickup" value="2")
						.basket-content-side
							.basket-content-side-wrap-row.basket-content-side-wrap-row_grid
								.basket-content-side__title Ваш заказ
								.basket-content-side-wrap.basket-content-side-wrap_grid
									.basket-content-side-row
										span Товары (2)
										span 2 200 руб
									.basket-content-side-row
										span Доставка
										span 350 руб
									.basket-content-side-row
										span Промокод
										span -500 руб
								.basket-content-side-promo
									input(type="text" placeholder="Промокод на скидку")
									button Применить
							.basket-content-side-wrap-row
								.basket-content-side-wrap
									.basket-content-side-bot
										.basket-content-side-row
											span Итого
											.basket-content-side-bot__price 3 050 руб
										a.basket-content-side-bot__btn.btn-green(href="#") Оформить заказ
										p Нажимая на кнопку, Вы соглашаетесь с условиями использования сайта.