extends ../template

block variables
	- var title = 'Корзина'

block content
	section.basket
		.mycontainer
			.title Оформление заказа
			.basket-content.block-margin
				//- Не смущаемся названий классов. Изначально было сделано табами, потом переделано на отдельные страницы
				.basket-content-tabs.tabs
					.basket-content-tabs-navigation
						a.basket-content-tabs-navigation__item.tabs-navigation-item.active(href="basket.html") 1. Корзина
						a.basket-content-tabs-navigation__item.tabs-navigation-item(href="basket_delivery.html") 2. Доставка
						a.basket-content-tabs-navigation__item.tabs-navigation-item(href="basket_payment.html") 3. Оплата
					.basket-content-tabs-tab.tabs-tab.active
						form(action="basket_delivery.html").basket-content-tabs-tab-box
							.basket-content-goods
								.basket-content-goods-item
									.basket-content-goods-item__img
										img(src="assets/images/basket1.jpg" alt="")
									.basket-content-goods-item-name
										h2.good-4items-items-item__series Anti Age
										h2.good-4items-items-item__name Day cream
										h2.basket-content-goods-item-name__title Гидрофильный бальзам для умывания и снятия макияжа, 100 мл
										//- .basket-content-goods-item-name__status В наличии
									.basket-content-goods-item-input
										.add-quantity
											button.quantity -
											input(type="text" placeholder="1")
											button.quantity +
									.basket-content-goods-item__price-box
										.basket-content-goods-item__price_discount 
										.basket-content-goods-item__price 6 100 руб
										.basket-content-goods-item__price_quantity 2 х 3 050 руб
									.basket-content-goods-item-btns
										button.basket-content-goods-item-btn__remove(type="button")
											img(src="/assets/images/remove_good_from_cart_btn.svg" alt="cross")

								.basket-content-goods-item
									.basket-content-goods-item__img
										img(src="assets/images/basket1.jpg" alt="")
									.basket-content-goods-item-name
										h2.good-4items-items-item__series Anti Age
										h2.good-4items-items-item__name Day cream
										h2.basket-content-goods-item-name__title Гидрофильный бальзам для умывания и снятия макияжа, 100 мл
										//- .basket-content-goods-item-name__status В наличии
									.basket-content-goods-item-input
										.add-quantity
											button.quantity -
											input(type="text" placeholder="1")
											button.quantity +
									.basket-content-goods-item__price-box
										.basket-content-goods-item__price_discount 6 710 руб (-10%)
										.basket-content-goods-item__price 6 100 руб
										.basket-content-goods-item__price_quantity 2 х 3 050 руб
									.basket-content-goods-item-btns
										button.basket-content-goods-item-btn__remove(type="button")
											img(src="/assets/images/remove_good_from_cart_btn.svg" alt="cross")
						.basket-content-side
							.basket-content-side-wrap-row.basket-content-side-wrap-row_grid
								.basket-content-side__title Ваш заказ
								.basket-content-side-wrap.basket-content-side-wrap_grid
									.basket-content-side-row
										span Товары (2)
										span 2 200 руб
									.basket-content-side-row
										span Доставка
										span 350 руб
									.basket-content-side-row
										span Промокод
										span -500 руб
								.basket-content-side-promo
									input(type="text" placeholder="Промокод на скидку")
									button Применить
							.basket-content-side-wrap-row
								.basket-content-side-wrap
									.basket-content-side-bot
										.basket-content-side-row
											span Итого
											.basket-content-side-bot__price 3 050 руб
										a.basket-content-side-bot__btn(href="basket_delivery.html") Продолжить
										p Нажимая на кнопку, Вы соглашаетесь с условиями использования сайта.

				//- Если понадобятся табы Старт // If we need tabs Start
					//- .basket-content-tabs-tab.tabs-tab.active#tab1
					//- 	.basket-content-tabs-tab-box
				//- Если понадобятся табы Конец // If we need tabs End