extends ../template

block variables
	- var title = 'Каталог'

block content
	.catalog
		.mycontainer
			.catalog-top
				h2.title Для лица
			.catalog-main
				form.catalog-main-filter.active(action="#")
					.catalog-main-filter-col
						.catalog-main-filter-col__title Серия
						.catalog-main-filter-col-items
							input(type="text" placeholder="Поиск")
							.catalog-main-filter-col-items-wrap
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Гаджеты")
									span 
									span Aging Protection
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Глаза и губы")
									span
									span Aqua High Defensive
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Защита от солнца")
									span
									span Perfect Clean
									
					.catalog-main-filter-col
						.catalog-main-filter-col__title Тип продукта
						.catalog-main-filter-col-items
							input(type="text" placeholder="Поиск")
							.catalog-main-filter-col-items-wrap
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Гаджеты")
									span 
									span Дневной крем для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Глаза и губы")
									span
									span Ночной крем для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Защита от солнца")
									span
									span База под макияж
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Маски")
									span
									span Сыворотка для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Ночные средства")
									span
									span Очищающая пенка для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Отшелушивание")
									span
									span Тоник для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Оцищение")
									span
									span Маска для лица
								label.catalog-main-filter-col-items-item
									input(type="checkbox" value="Специальный уход")
									span
									span Средство для снятия макияжа

				.catalog-main-content.block-margin
					.good-4items-items
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img2.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img3.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img2.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img3.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img2.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img3.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
						.good-4items-items-item
							a.good-4items-items-item__img(href="#")
								img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
							h2.good-4items-items-item__series Anti Age
							h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
							p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5		
								p.rating-text 
									span (
									span 12 отзывов
									span )
							.good-4items-items-item__add-box
								.good-4items-items-item__price 1250 руб.
								.good-4items-items-item__add-to-cart
									.add-quantity
										button.quantity -
										input(type="text" placeholder="1")
										button.quantity +
									a.cart-btn
										img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

			.catalog-main-content-pagination.block-margin
				a.catalog-main-content-pagination__prev(href="#")
				.catalog-main-content-pagination__page.current 1
				a.catalog-main-content-pagination__page(href="#") 2
				a.catalog-main-content-pagination__page(href="#") 3
				.catalog-main-content-pagination__page.dots(href="#") . . .
				a.catalog-main-content-pagination__page(href="#") 10
				a.catalog-main-content-pagination__next(href="#")

					//- .catalog-main-content-seo
					//- 	h2.title Уход за кожей лица
					//- 	.catalog-main-content-seo__text Уходовые средства предназначены для поддержания красоты и здоровья кожи, избавления от небольших косметических недостатков — высыпаний, жирности, сухости.</br>Очищение кожи начинается с отшелушивания ороговевших частиц и удаления остатков косметики.</br>С этой задачей отлично справляется очищающий гель для лица. Его мягкая текстура не травмирует поверхность дермы, деликатно абсорбируя и удаляя грязь.</br>Лосьоны и тоники восстанавливают нормальный РН баланс и подготавливают эпидермис к глубокому проникновению косметических средств.</br>Для того чтобы крем проявил свои свойства, предварительно на лицо наносят сыворотки, которые разделяются на увлажняющие, питательные, антивозрастные и прочие.</br>Ликвидируют проблемы кожи специальные маски.</br>Кремы в виде стиков разработаны для нанесения на кожу вокруг глаз.