extends ../template

block variables
	- var title = 'Карточка товара'

block content
	.good
		section.good-content.block-margin
			.mycontainer
				.good-content-col.sliders
					.good-content-col-thumbs
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png" alt="")
					.good-content-col-slider
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png" alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png" alt="")
				.good-content-col
					.good-content-col__series Superdefence
					h1.title Don’t Touch my Moisturizer
					.good-content-col__text Увлажняющий крем для всех типов кожи, 50 мл
					.rating.rating_set
						.rating__body
							.rating__active
							.rating__items
								input.rating__item(type="radio" name="rating" value="1")
								input.rating__item(type="radio" name="rating" value="2")
								input.rating__item(type="radio" name="rating" value="3")
								input.rating__item(type="radio" name="rating" value="4")
								input.rating__item(type="radio" name="rating" value="5")
						.rating__value 4.5		
						p.rating-text 
							span (
							span 12 отзывов
							span )
						.rating-links
							a(href="#").rating-link Добавить отзыв 
							a(href="#").rating-link Читать отзывы
					p.good-content-col__desc Увлажняющий крем с шелковистой текстурой, который поддерживает и улучшает защитные функции кожи. Крем восполняет недостаток необходимых веществ в коже, помогая защитить ее от внешних воздействий и раздражения. Не содержит ароматизаторов, красителей, эфирных масел.		
					.good-content-col-row
						select.good-content-col-row__capacity(name="capacity")
							option(value="1000") 1000 мл
							option(value="500") 500 мл
							option(value="250") 250 мл
					.good-content-col-row__add-box
						.good-content-col__price Цена:  1 390 руб.
						.good-content-col-row__add-to-cart
							.add-quantity
								button.quantity -
								input(type="text" placeholder="1")
								button.quantity +
							a.cart-btn(href="#") Добавить в корзину
		section.good-about
			.mycontainer
				h2.title О продукте
				.good-about-row
					article.good-about-row-col
						h3.good-about-row-col__title Описание
						.good-about-row-col__text-box
							p.good-about-row-col__text Увлажняющий крем с шелковистой текстурой, который поддерживает и улучшает защитные функции кожи. Крем восполняет недостаток необходимых веществ в коже, помогая защитить ее от внешних воздействий и раздражения. Не содержит ароматизаторов, красителей, эфирных масел.
					article.good-about-row-col
						h3.good-about-row-col__title Активные компоненты
						.good-about-row-col__text-box
							p.good-about-row-col__text — Лизат лактобактерий. Фрагменты пробиотиков — полезных бактерий, которые помогают поддерживать здоровый микробиом кожи. 
							p.good-about-row-col__text — Натуральный увлажняющий фактор. Аминокислоты, Sodium PCA, Молочная кислота, Гиалуроновая кислота, Мочевина. Основные компоненты натурального увлажняющего фактора — комплекса, который содержится в коже и отвечает за ее увлаж...
						details.good-about-row-col__details 
							summary Состав
							p.good-about-row-col__details_text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quae nostrum doloremque tempora commodi, maiores corrupti obcaecati omnis eaque quia!
					article.good-about-row-col
						h3.good-about-row-col__title Способ применения
						.good-about-row-col__text-box
							p.good-about-row-col__text Увлажняющий крем с шелковистой текстурой, который поддерживает и улучшает защитные функции кожи. Крем восполняет недостаток необходимых веществ в коже, помогая защитить ее от внешних воздействий и раздражения. Не содержит ароматизаторов, красителей, эфирных масел.
		section.good-reviews.block-margin
			.mycontainer
				h2.title Отзывы
				.rating.rating_set
					.rating__body
						.rating__active
						.rating__items
							input.rating__item(type="radio" name="rating" value="1")
							input.rating__item(type="radio" name="rating" value="2")
							input.rating__item(type="radio" name="rating" value="3")
							input.rating__item(type="radio" name="rating" value="4")
							input.rating__item(type="radio" name="rating" value="5")
					.rating__value 4.5		
					p.rating-text 
						span (
						span 12 отзывов
						span )
					.rating-links
						a(href="#").rating-link Добавить отзыв
				.good-reviews-row
					.good-reviews-row-items
						.good-reviews-row-item
							.good-reviews-row-item-user
								span.user-name Ксения
								span.user-age 27 лет
								span.user-from Санкт-Петербург
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5
							article.good-reviews-row-item-review-box
								h3.good-reviews-row-item-title Комфортный крем
								p.good-reviews-row-item-text Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							article.good-reviews-row-item-response
								h3.good-reviews-row-item-title innes
								p.good-reviews-row-item-text Большое спасибо за отзыв!	
						.good-reviews-row-item
							.good-reviews-row-item-user
								span.user-name Ксения
								span.user-age 27 лет
								span.user-from Санкт-Петербург
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5
							article.good-reviews-row-item-review-box
								h3.good-reviews-row-item-title Комфортный крем
								p.good-reviews-row-item-text Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							article.good-reviews-row-item-response
								h3.good-reviews-row-item-title innes
								p.good-reviews-row-item-text Большое спасибо за отзыв!
						.good-reviews-row-item
							.good-reviews-row-item-user
								span.user-name Ксения
								span.user-age 27 лет
								span.user-from Санкт-Петербург
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5
							article.good-reviews-row-item-review-box
								h3.good-reviews-row-item-title Комфортный крем
								p.good-reviews-row-item-text Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							article.good-reviews-row-item-response
								h3.good-reviews-row-item-title innes
								p.good-reviews-row-item-text Большое спасибо за отзыв!
						.good-reviews-row-item
							.good-reviews-row-item-user
								span.user-name Ксения
								span.user-age 27 лет
								span.user-from Санкт-Петербург
							.rating.rating_set
								.rating__body
									.rating__active
									.rating__items
										input.rating__item(type="radio" name="rating" value="1")
										input.rating__item(type="radio" name="rating" value="2")
										input.rating__item(type="radio" name="rating" value="3")
										input.rating__item(type="radio" name="rating" value="4")
										input.rating__item(type="radio" name="rating" value="5")
								.rating__value 4.5
							article.good-reviews-row-item-review-box
								h3.good-reviews-row-item-title Комфортный крем
								p.good-reviews-row-item-text Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							article.good-reviews-row-item-response
								h3.good-reviews-row-item-title innes
								p.good-reviews-row-item-text Большое спасибо за отзыв!						

