extends ../template

block variables
	- var title = 'Карточка товара'

block content
	.good
		section.good-content.block-margin
			.mycontainer
				.good-content-col.sliders
					.good-content-col-thumbs
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-thumbs-item
							img(data-lazy="assets/images/good.png", alt="")
					.good-content-col-slider
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png", alt="")
						.good-content-col-slider-item
							img(data-lazy="assets/images/good.png", alt="")
				.good-content-col
					.good-content-col__company Superdefence
					h1.title Don’t Touch my Moisturizer
					.good-content-col__text Увлажняющий крем для всех типов кожи, 50 мл
					.good-content-col__price Цена:  1 390 руб.
					.good-content-col-row
						select.good-content-col-row__capacity(name="capacity")
							option(value="1000") 1000 мл
							option(value="500") 500 мл
							option(value="250") 250 мл
						a.good-content-col-row__btn.btn-green(href="#") Добавить в корзину
						.good-content-col-row__fav
							<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.6126 2.678C17.1823 2.2475 16.6714 1.90599 16.109 1.67299C15.5467 1.43999 14.944 1.32007 14.3353 1.32007C13.7266 1.32007 13.1239 1.43999 12.5616 1.67299C11.9993 1.90599 11.4884 2.2475 11.0581 2.678L10.165 3.57104L9.27199 2.678C8.4028 1.80882 7.22394 1.32052 5.99473 1.32052C4.76552 1.32052 3.58665 1.80882 2.71747 2.678C1.84829 3.54719 1.35999 4.72605 1.35999 5.95526C1.35999 7.18447 1.84829 8.36334 2.71747 9.23252L3.6105 10.1256L10.165 16.6801L16.7195 10.1256L17.6126 9.23252C18.0431 8.80222 18.3846 8.29131 18.6176 7.72899C18.8506 7.16666 18.9705 6.56395 18.9705 5.95526C18.9705 5.34658 18.8506 4.74386 18.6176 4.18154C18.3846 3.61921 18.0431 3.10831 17.6126 2.678V2.678Z" stroke="#111111" stroke-opacity="0.75" stroke-width="2" stroke-linecap="square"/>
							</svg>
					.good-content-col-tabs.tabs
						.good-content-col-tabs-navigation
							a.good-content-col-tabs-navigation__item.tabs-navigation-item.active(href="#tab1") Описание
							a.good-content-col-tabs-navigation__item.tabs-navigation-item(href="#tab2") Применение
							a.good-content-col-tabs-navigation__item.tabs-navigation-item(href="#tab3") Состав
							a.good-content-col-tabs-navigation__item.tabs-navigation-item(href="#tab4") Доставка
						.good-content-col-tabs-tab.tabs-tab.active#tab1
							p 
								b Что это:
							p Увлажняющий крем с шелковистой текстурой, который поддерживает и улучшает защитные функции кожи. Крем восполняет недостаток необходимых веществ в коже, помогая защитить ее от внешних воздействий и раздражения. Не содержит ароматизаторов, красителей, эфирных масел.</br></br>
							p
								b Ключевые ингредиенты:
							p — Лизат лактобактерий. Фрагменты пробиотиков — полезных бактерий, которые помогают поддерживать здоровый микробиом кожи.</br>— Натуральный увлажняющий фактор. Аминокислоты, Sodium PCA, Молочная кислота, Гиалуроновая кислота, Мочевина. Основные компоненты натурального увлажняющего фактора — комплекса, который содержится в коже и отвечает за ее увлажненность.</br>— Ниацинамид. Борется с раздражениями и помогает коже производить больше защитных липидов (церамидов). Снижает выработку кожного сала, уменьшая жирность кожи.</br>— Сквалан. Нейтральное масло, которое получают из оливок. Родственный коже ингредиент, компонент себума.</br>— Фосфолипиды. Компоненты эпидермальных жиров. Делают кожу мягкой, гладкой и поддерживают ее увлажнённость.
						.good-content-col-tabs-tab.tabs-tab#tab2
							p 
								b Что это:
							p Увлажняющий крем с шелковистой текстурой, который поддерживает и улучшает защитные функции кожи. Крем восполняет недостаток необходимых веществ в коже, помогая защитить ее от внешних воздействий и раздражения. Не содержит ароматизаторов, красителей, эфирных масел.</br></br>
						.good-content-col-tabs-tab.tabs-tab#tab3
							p
								b Ключевые ингредиенты:
							p — Лизат лактобактерий. Фрагменты пробиотиков — полезных бактерий, которые помогают поддерживать здоровый микробиом кожи.</br>— Натуральный увлажняющий фактор. Аминокислоты, Sodium PCA, Молочная кислота, Гиалуроновая кислота, Мочевина. Основные компоненты натурального увлажняющего фактора — комплекса, который содержится в коже и отвечает за ее увлажненность.</br>— Ниацинамид. Борется с раздражениями и помогает коже производить больше защитных липидов (церамидов). Снижает выработку кожного сала, уменьшая жирность кожи.</br>— Сквалан. Нейтральное масло, которое получают из оливок. Родственный коже ингредиент, компонент себума.</br>— Фосфолипиды. Компоненты эпидермальных жиров. Делают кожу мягкой, гладкой и поддерживают ее увлажнённость.
						.good-content-col-tabs-tab.tabs-tab#tab4
							p
								b Ключевые ингредиенты:
							p — Лизат лактобактерий. Фрагменты пробиотиков — полезных бактерий, которые помогают поддерживать здоровый микробиом кожи.</br>— Натуральный увлажняющий фактор. Аминокислоты, Sodium PCA, Молочная кислота, Гиалуроновая кислота, Мочевина. Основные компоненты натурального увлажняющего фактора — комплекса, который содержится в коже и отвечает за ее увлажненность.</br>— Ниацинамид. Борется с раздражениями и помогает коже производить больше защитных липидов (церамидов). Снижает выработку кожного сала, уменьшая жирность кожи.</br>— Сквалан. Нейтральное масло, которое получают из оливок. Родственный коже ингредиент, компонент себума.</br>— Фосфолипиды. Компоненты эпидермальных жиров. Делают кожу мягкой, гладкой и поддерживают ее увлажнённость.

		section.good-reviews.block-margin
			.mycontainer
				.title Отзывы
				.good-reviews-row
					.good-reviews-row-slider
						a.good-reviews-row-slider-item(href="#")
							.good-reviews-row-slider-item-top
								.good-reviews-row-slider-item-top-col
									.good-reviews-row-slider-item-top-col__ava
										img(data-lazy="assets/images/ava.png", alt="")
									.good-reviews-row-slider-item-top-col-info
										.good-reviews-row-slider-item-top-col-info__name Ксения
										.good-reviews-row-slider-item-top-col-info__date 20.02.2020
								.good-reviews-row-slider-item-top-col
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview1.png", alt="")
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview2.png", alt="")
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview3.png", alt="")
										.good-reviews-row-slider-item-top-col__value +20 фото
							.good-reviews-row-slider-item__content
								p
									b Комфортный крем
								p Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
								p Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							.good-reviews-row-slider-item__btn.btn-border Читать подробнее
						a.good-reviews-row-slider-item(href="#")
							.good-reviews-row-slider-item-top
								.good-reviews-row-slider-item-top-col
									.good-reviews-row-slider-item-top-col__ava
										img(data-lazy="assets/images/ava.png", alt="")
									.good-reviews-row-slider-item-top-col-info
										.good-reviews-row-slider-item-top-col-info__name Ксения
										.good-reviews-row-slider-item-top-col-info__date 20.02.2020
								.good-reviews-row-slider-item-top-col
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview1.png", alt="")
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview2.png", alt="")
									.good-reviews-row-slider-item-top-col__img
										img(data-lazy="assets/images/review-photo-preview3.png", alt="")
										.good-reviews-row-slider-item-top-col__value +20 фото
							.good-reviews-row-slider-item__content
								p
									b Комфортный крем
								p Пользуюсь кремом Don’t touch my skin уже неделю. У меня всегда были проблемы с кремами - одни делали кожу блестящей и жирной на вид, но при этом под слоем блестящего жира ощущение стянутости и обезвоженности.
							.good-reviews-row-slider-item__btn.btn-border Читать подробнее
					.good-reviews-row-current
						.good-reviews-row-current-info
							.good-reviews-row-current-info__img
								img.lazy(data-src="assets/images/good.png", alt="")
							.good-reviews-row-current-info-content
								.good-reviews-row-current-info-content-wrap
									.good-reviews-row-current-info-content__company Superdefence
									.good-reviews-row-current-info-content__name Don’t Touch my Moisturizer
								.good-reviews-row-current-info-content-wrap
									.good-reviews-row-current-info-content-rating
										.good-reviews-row-current-info-content-rating-graf
											.good-reviews-row-current-info-content-rating-graf__value 4
											input.good-reviews-row-current-info-content-rating-graf__bar.bar(type="text" value="4" data-linecap="round" data-fgColor="#0F4C81" data-bgColor="transparent" data-thickness=".15" data-width="48" data-height="48" data-displayInput="false" data-min="0" data-max="5" data-step="0.1" readonly)
										.good-reviews-row-current-info-content-rating-col
											.good-reviews-row-current-info-content-rating-col__title Общая оценка
											.good-reviews-row-current-info-content-rating-col__text по 78 отзывам
									.good-reviews-row-current-info-content-row
										span Эффективность
										span 5
									.good-reviews-row-current-info-content-row
										span Комфорт
										span 5
									.good-reviews-row-current-info-content-row
										span Текстура
										span 5
						.good-reviews-row-current-bot
							a.good-reviews-row-current-bot__btn.btn-border(href="#") Написать отзыв
							a.good-reviews-row-current-bot__link(href="#") Читать все отзывы (78)

		section.good-4items.block-margin
			.mycontainer
				.title С этим товаром покупают
				.good-4items-items
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good1.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Гидрофильный бальзам для умывания и снятия макияжа, 100 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good2.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good3.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						.good-4items-items-item__price 1 890 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good4.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину

		section.good-4items.block-margin
			.mycontainer
				.title Выбор редакции
				.good-4items-items
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good1.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Гидрофильный бальзам для умывания и снятия макияжа, 100 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good2.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good3.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						.good-4items-items-item__price 1 890 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину
					.good-4items-items-item
						a.good-4items-items-item__img(href="good.html")
							img.lazy(data-src="assets/images/good4.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.
						a.good-4items-items-item__btn.btn-greenborder(href="#") Добавить в корзину

			