extends ../template

block variables
	- var title = 'Помощь'

block content
	.help
		.mycontainer
			h1.title FAQ
			// Все здешние страницы с одинаковым шаблоном, но различным контентом. В контенте могут быть заголовки, текст и разворачивающиеся элементы (FAQ). Активная стрница отмечается в меню классом "active"
			.help-main.block-margin
				.help-main-menu
					.help-main-menu__item.active 
						a(href="help.html") Доставка
					.help-main-menu__item 
						a(href="help.html") Контакты
					.help-main-menu__item 
						a(href="help.html") Оплата
					.help-main-menu__item 
						a(href="help.html") Обмен и возврат
					.help-main-menu__item 
						a(href="help.html") FAQ
					.help-main-menu__item 
						a(href="help.html") Оптовым клиентам
					.help-main-menu__item 
						a(href="help.html") Партнёрская программа
					.help-main-menu__item 
						a(href="help.html") Реквизиты
					.help-main-menu__item
						a(href="help.html") Правовая информация	
				.help-main-content
					.help-main-content__title Оформление заказа
					.help-main-content-slide
						.help-main-content-slide__title Как оформить заказ?
						.help-main-content-slide__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum blanditiis, eos inventore a ad illum error rem mollitia hic, neque id velit. Doloremque unde eum ratione, optio ipsam nihil consectetur.
					.help-main-content-slide
						.help-main-content-slide__title Гарантирована ли безопасность моих данных?
						.help-main-content-slide__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore at a tempora perspiciatis odit possimus laudantium cum? Nulla amet consequatur repellendus harum sint explicabo dolore itaque laborum iste laboriosam!
					.help-main-content-slide
						.help-main-content-slide__title Я забыл пароль, что делать?
						.help-main-content-slide__text Введите, пожалуйста, адрес электронной почты,<br>указанный при регистрации, в соответствующее поле.
					.help-main-content__title Оплата
					.help-main-content-slide
						.help-main-content-slide__title Как я могу оплатить заказ?
						.help-main-content-slide__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, natus. Incidunt voluptatum perferendis at! Corrupti reprehenderit corporis iste, error amet ullam totam sequi natus nam asperiores ea? Sunt, ipsam sequi.
					.help-main-content-slide
						.help-main-content-slide__title Когда деньги будут списаны с моего счёта?
						.help-main-content-slide__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minus accusamus earum tempora in aliquam placeat deleniti sapiente quaerat! Pariatur.


