extends ../template

block variables
	- var title = 'Главная'

block content
	.main
		section.main-banner
			.main-banner-slider
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg" alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg" alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg" alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg" alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg" alt="")
			.mycontainer
				.main-banner-info
					h1.title Забота о себе — это красиво
					.main-banner-info__text Доверьте её своей интуиции
					a.main-banner-info__btn(href="#") Смотреть каталог
		section.good-4items.block-margin
			.mycontainer
				h2.title Бестселлеры
				.good-4items-items
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-5" name="rating" value="5")
								label(for="star-5" title="Оценка «5»")
								input(type="radio" id="star-4" name="rating" value="4")
								label(for="star-4" title="Оценка «4»")
								input(type="radio" id="star-3" name="rating" value="3")
								label(for="star-3" title="Оценка «3»")
								input(type="radio" id="star-2" name="rating" value="2")
								label(for="star-2" title="Оценка «2»")
								input(type="radio" id="star-1" name="rating" value="1")
								label(for="star-1" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								a.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img2.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-10" name="rating" value="5")
								label(for="star-10" title="Оценка «5»")
								input(type="radio" id="star-9" name="rating" value="4")
								label(for="star-9" title="Оценка «4»")
								input(type="radio" id="star-8" name="rating" value="3")
								label(for="star-8" title="Оценка «3»")
								input(type="radio" id="star-7" name="rating" value="2")
								label(for="star-7" title="Оценка «2»")
								input(type="radio" id="star-6" name="rating" value="1")
								label(for="star-6" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img3.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-15" name="rating" value="5")
								label(for="star-15" title="Оценка «5»")
								input(type="radio" id="star-14" name="rating" value="4")
								label(for="star-14" title="Оценка «4»")
								input(type="radio" id="star-13" name="rating" value="3")
								label(for="star-13" title="Оценка «3»")
								input(type="radio" id="star-12" name="rating" value="2")
								label(for="star-12" title="Оценка «2»")
								input(type="radio" id="star-11" name="rating" value="1")
								label(for="star-11" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-20" name="rating" value="5")
								label(for="star-20" title="Оценка «5»")
								input(type="radio" id="star-19" name="rating" value="4")
								label(for="star-19" title="Оценка «4»")
								input(type="radio" id="star-18" name="rating" value="3")
								label(for="star-18" title="Оценка «3»")
								input(type="radio" id="star-17" name="rating" value="2")
								label(for="star-17" title="Оценка «2»")
								input(type="radio" id="star-16" name="rating" value="1")
								label(for="star-16" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

		section.good-4items.block-margin.new
			.mycontainer
				h2.title Новинки
				.good-4items-items
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-25" name="rating" value="5")
								label(for="star-25" title="Оценка «5»")
								input(type="radio" id="star-24" name="rating" value="4")
								label(for="star-24" title="Оценка «4»")
								input(type="radio" id="star-23" name="rating" value="3")
								label(for="star-23" title="Оценка «3»")
								input(type="radio" id="star-22" name="rating" value="2")
								label(for="star-22" title="Оценка «2»")
								input(type="radio" id="star-21" name="rating" value="1")
								label(for="star-21" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img2.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-30" name="rating" value="5")
								label(for="star-30" title="Оценка «5»")
								input(type="radio" id="star-29" name="rating" value="4")
								label(for="star-29" title="Оценка «4»")
								input(type="radio" id="star-28" name="rating" value="3")
								label(for="star-28" title="Оценка «3»")
								input(type="radio" id="star-27" name="rating" value="2")
								label(for="star-27" title="Оценка «2»")
								input(type="radio" id="star-26" name="rating" value="1")
								label(for="star-26" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")

					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img3.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-35" name="rating" value="5")
								label(for="star-35" title="Оценка «5»")
								input(type="radio" id="star-34" name="rating" value="4")
								label(for="star-34" title="Оценка «4»")
								input(type="radio" id="star-33" name="rating" value="3")
								label(for="star-33" title="Оценка «3»")
								input(type="radio" id="star-32" name="rating" value="2")
								label(for="star-32" title="Оценка «2»")
								input(type="radio" id="star-31" name="rating" value="1")
								label(for="star-31" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good-item-img1.jpg" alt="product")
						h2.good-4items-items-item__series Anti Age
						h2.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						p.good-4items-items-item__short-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptas!
						.good-4items-items-item__rating
							.rating-area
								input(type="radio" id="star-40" name="rating" value="5")
								label(for="star-40" title="Оценка «5»")
								input(type="radio" id="star-39" name="rating" value="4")
								label(for="star-39" title="Оценка «4»")
								input(type="radio" id="star-38" name="rating" value="3")
								label(for="star-38" title="Оценка «3»")
								input(type="radio" id="star-37" name="rating" value="2")
								label(for="star-37" title="Оценка «2»")
								input(type="radio" id="star-36" name="rating" value="1")
								label(for="star-36" title="Оценка «1»")
							p.rating-text 
								span (
								span 12 отзывов
								span )
						.good-4items-items-item__add-box
							.good-4items-items-item__price 1250 руб.
							.good-4items-items-item__add-to-cart
								.add-quantity
									button.quantity -
									input(type="text" placeholder="1")
									button.quantity +
								button.cart-btn
									img.lazy(data-src="assets/images/item-cart.svg" alt="cart")
		section.main-promo-banner
			.mycontainer
				a.main-promo-banner__link(href="#")
					img(src="assets/images/promo-banner.jpg" alt="blush-image")
		section.main-catalog 
			.mycontainer
				.main-catalog-box 
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img1.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img2.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img3.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img2.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img3.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img1.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img3.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img2.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить
					.main-catalog-item 
						img.lazy(data-src="assets/images/main-catalog-img1.jpg" alt="product-image")
						h3.main-catalog-title Название линейки 
						button.main-catalog-btn Купить		
		section.main-made.block-margin
			h2.title Сделано в России с любовью			
		section.main-subscribe.block-margin
			.mycontainer
				.main-subscribe-form
					.form-item
						h2.form-item-title Подпишитесь на рассылку
						p.form-item-sub-title Узнавайте первыми об акциях и эксклюзивных предложениях и будьте в курсе последних новинок
					.form-item.item-right
						.main-subscribe-input-box
							input.main-subscribe-input(type="email" pattern=".+@." required placeholder="Введите ваш e-mail")
							button.main-subscribe-btn Подписаться
						p.main-subscribe-agree Нажимая на кнопку “Подписаться” Вы соглашаеткесь с Правилами обработки персональных данных	
		section.main-our-inst.block-margin
			.mycontainer
				.main-our-inst-heading
					h2.main-our-inst-title Наш Instagram
					h2.main-our-inst-sub-title @innes.ru
				.main-our-inst-items
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img1.jpg" alt="")
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img2.jpg" alt="")
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img3.jpg" alt="")
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img2.jpg" alt="")
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img4.jpg" alt="")
					a.main-our-inst-items-item(href="#")
						.main-our-inst-items-item__img
							img.lazy(data-src="assets/images/our-inst-img5.jpg" alt="")




