extends ../template

block variables
	- var title = 'Главная'

block content
	.main
		section.main-banner
			.main-banner-slider
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg", alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg", alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg", alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg", alt="")
				.main-banner-slider-item
					img(data-lazy="assets/images/banner.jpg", alt="")
			.mycontainer
				.main-banner-info
					h1.title Забота о себе — это красиво
					.main-banner-info__text Доверьте её своей интуиции
					a.main-banner-info__btn(href="#") Смотреть каталог

		section.good-4items.block-margin
			.mycontainer
				.title Бестселлеры
				.good-4items-items
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good1.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Гидрофильный бальзам для умывания и снятия макияжа, 100 мл
						.good-4items-items-item__price 250 руб.
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good2.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good3.png", alt="")
						.good-4items-items-item__company Anti Age
						.good-4items-items-item__name Сыворотка с ретинолом, 30 мл
						.good-4items-items-item__price 1 890 руб.
					.good-4items-items-item
						a.good-4items-items-item__img(href="#")
							img.lazy(data-src="assets/images/good4.png", alt="")
						.good-4items-items-item__company Intense Smoothing
						.good-4items-items-item__name Шампунь из морских ежей, 250 мл
						.good-4items-items-item__price 250 руб.

		section.main-new.block-margin
			.mycontainer
				a.main-new__img(href="#")
					img.lazy(data-src="assets/images/main-new1.jpg", alt="")
				.main-new-info
					.title Новый шампунь в продаже
					.main-new-info__text Шампунь для блеска волос на базе ингредиентов растительного происхождения. Разработан специально для преображения тусклых и безжизненных волос.

		section.main-blogslider.block-margin.slider-block
			.mycontainer 
				.main-blogslider-info
					.title Вдохновляйтесь
					.main-blogslider-info__text Тысячи идей по использованию косметики для твоего ритма жизни, всё в Ваших руках. Смотрите и читайте о наших новинках
					a.main-blogslider-info__btn.btn-border(href="#") Почитать наш блог
				.main-blogslider-slider
					a.main-blogslider-slider-item(href="#")
						.main-blogslider-slider-item__img
							img(src="assets/images/main-blog1.jpg", alt="")
						.main-blogslider-slider-item__title Коллекция для большого города
						.main-blogslider-slider-item__text С 1969 года завод марки располагается примерно в 5 км от нашего бесценного сокровища — термальных источников
					a.main-blogslider-slider-item(href="#")
						.main-blogslider-slider-item__img
							img(src="assets/images/main-blog2.jpg", alt="")
						.main-blogslider-slider-item__title Коллекция для большого города
						.main-blogslider-slider-item__text С 1969 года завод марки располагается примерно в 5 км от нашего бесценного сокровища — термальных источников

		section.main-about.block-margin
			.mycontainer
				.main-about__img
					img.lazy(data-src="assets/images/main-about1.jpg", alt="")
				.main-about__img
					img.lazy(data-src="assets/images/main-about2.jpg", alt="")
				.main-about-info
					.main-about-info__subtitle Об innes
					.title Сделано в России с любовью
					.main-about-info__text Интенсивный ритм современного мегаполиса оставляет свой отпечаток на твоём образе жизни. Ты стараешься успеть всё, не забыв при этом и о себе. Тебе важно, чтобы тебя понимали, не задавая лишних вопросов. Всегда интуитивно понимаешь, что лучше для тебя.
					a.main-about-info__btn.btn-border(href="#") Наша история

		section.main-promo.block-margin
			.mycontainer
				.main-promo-content
					.title 10% скидка на первый заказ
					.main-promo-content__text По промокоду Welcome

		section.main-bloggrid.block-margin
			.mycontainer
				.main-bloggrid-items
					a.main-bloggrid-items-item(href="#")
						.main-bloggrid-items-item__img
							img.lazy(data-src="assets/images/main-blog-bot1.jpg", alt="")
						.main-bloggrid-items-item__title Сила цвета
						.main-bloggrid-items-item__text Оттеночные средства Davines
					a.main-bloggrid-items-item(href="#")
						.main-bloggrid-items-item__img
							img.lazy(data-src="assets/images/main-blog-bot2.jpg", alt="")
						.main-bloggrid-items-item__title Раздражённая кожа. Как ей помочь?
						.main-bloggrid-items-item__text Средства и приёмы, которые ей помогут
					a.main-bloggrid-items-item(href="#")
						.main-bloggrid-items-item__img
							img.lazy(data-src="assets/images/main-blog-bot3.jpg", alt="")
						.main-bloggrid-items-item__title COOLA
						.main-bloggrid-items-item__text Эксперт по защите от солнца
				a.main-bloggrid__btn.btn-border(href="#") Показать ещё


				