extends ../template

block variables
	- var title = 'Вход'

block content
	.mycontainer
		.login.block-margin
			.login-img
				img.lazy(data-src="assets/images/login.jpg", alt="")
			form.login-auth(action="#")
				h1.title Вход
				.login-auth-socials
					span Через
					a(href="#") 
						<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.98846 3.09331C9.48846 3.09331 10.5004 3.74223 11.0773 4.28446L13.3318 2.08C11.9472 0.791077 10.1453 0 7.98846 0C4.86408 0 2.16577 1.79554 0.852076 4.40892C0.310615 5.49331 0 6.71108 0 8C0 9.28892 0.310615 10.5067 0.852076 11.5911L3.44392 9.58223C3.27523 9.08446 3.17761 8.55108 3.17761 8C3.17761 7.44892 3.27523 6.91554 3.435 6.41777C4.083 4.48892 5.87592 3.09331 7.98846 3.09331Z" fill="#4D4D4D"/>
							<path d="M3.44392 9.58223L0.860923 11.5911C2.17462 14.2045 4.86408 16 7.98846 16C10.1453 16 11.956 15.2889 13.2785 14.0622C14.7875 12.6667 15.6574 10.6133 15.6574 8.17777C15.6574 7.52 15.6041 7.04 15.4887 6.54223H7.98846V9.51108H12.391C12.3022 10.2489 11.8229 11.36 10.7578 12.1067C10.0832 12.5778 9.17785 12.9067 7.98846 12.9067C5.87592 12.9067 4.083 11.5111 3.44392 9.58223Z" fill="#4D4D4D"/>
						</svg>
					a(href="#") 
						<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9.87854 9.14252C9.73066 9.29915 9.44191 9.33079 9.44191 9.33079H8.4856C8.4856 9.33079 6.37579 9.45578 4.51723 7.54843C2.49041 5.46743 0.700663 1.33864 0.700663 1.33864C0.700663 1.33864 0.597413 1.06781 0.709288 0.937418C0.835288 0.790076 1.17885 0.780785 1.17885 0.780785L3.46466 0.766158C3.46466 0.766158 3.67991 0.800874 3.83404 0.912747C3.9616 1.00535 4.03285 1.17742 4.03285 1.17742C4.03285 1.17742 4.40223 2.09871 4.89129 2.93197C5.84679 4.55927 6.29129 4.91497 6.61529 4.74057C7.08798 4.48676 6.94629 2.44047 6.94629 2.44047C6.94629 2.44047 6.95491 1.69824 6.70841 1.3672C6.51748 1.11107 6.15748 1.03617 5.9986 1.01539C5.86948 0.998377 6.08079 0.70363 6.35466 0.571731C6.76629 0.373412 7.49254 0.36186 8.35098 0.370335C9.0201 0.377241 9.2126 0.418173 9.47398 0.480638C10.0806 0.624967 10.0617 1.08752 10.0208 2.08584C10.0085 2.38441 9.99435 2.73083 9.99435 3.13104C9.99435 3.22101 9.99173 3.31687 9.98898 3.4155C9.97479 3.92689 9.95854 4.51256 10.3004 4.73059C10.4757 4.84165 10.9037 4.74679 11.975 2.95357C12.4829 2.10329 12.8632 1.1041 12.8632 1.1041C12.8632 1.1041 12.947 0.925868 13.0761 0.849466C13.2084 0.771557 13.3868 0.795475 13.3868 0.795475L15.7924 0.780785C15.7924 0.780785 16.5155 0.695154 16.632 1.01771C16.7549 1.35484 16.3621 2.1434 15.3792 3.43508C14.4468 4.66066 13.9931 5.11185 14.0347 5.51094C14.0652 5.80254 14.3601 6.06628 14.9261 6.58389C16.1075 7.66551 16.4243 8.23454 16.5004 8.37127C16.5067 8.38258 16.5113 8.39092 16.5147 8.39639C17.0445 9.26286 15.927 9.33079 15.927 9.33079L13.7898 9.36011C13.7898 9.36011 13.3312 9.44963 12.7271 9.04069C12.4106 8.82661 12.1014 8.47706 11.8069 8.14408C11.357 7.63557 10.9415 7.16585 10.5868 7.27678C9.99123 7.46355 10.0092 8.72817 10.0092 8.72817C10.0092 8.72817 10.0139 8.999 9.87854 9.14252Z" fill="#4D4D4D"/>
						</svg>
					a(href="#") 
						<svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M5.62154 7.99905V16H2.31112V7.99936H0.657227V5.2422H2.31112V3.58683C2.31112 1.33753 3.24496 0 5.89826 0H8.10719V2.75747H6.72646C5.6936 2.75747 5.62528 3.14277 5.62528 3.8619L5.62154 5.24189H8.12281L7.8301 7.99905H5.62154Z" fill="#4D4D4D"/>
						</svg>
				hr
				span или
				.login-auth__input
					input(type="text" placeholder="Телефон или Email" name="name") 
				.login-auth__input(data-type="pass")
					input(type="password" placeholder="Пароль (от 6 символов)" name="pass")
					span
				button.btn-border(type="submit") Войти
				.login-auth__other Нужен аккаунт?
					a(href="#") Зарегистрируйтесь
		