.about{
	&-banner{
		height: 100vh;
    margin-bottom: 120px;
		margin-top: -185px;
		background-size: cover;
		background-position: center;
		.mycontainer{
			position: relative;
			height: 100%;
		}
		&-info{
			position: absolute;
			bottom: 40px;
			left: 24px;
			.title{
				margin-bottom: 16px;
			}
			&__text{
				font-size: 20px;
				line-height: 32px;
			}
		}
	}
	&-info{
		.mycontainer{
			display: flex;
			align-items: center;
		}
		&-col{
			.title{
				margin-bottom: 8px;
			}
			p{
				font-size: 20px;
				line-height: 32px;
				&+&{
					margin-top: 8px;
				}
			}
		}
		&__img{
			flex: 0 0 50%;
			margin-left: 7%;
			height: 640px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&-grid{
		.mycontainer{
			display: flex;
			align-items: center;
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40px 32px;
			width: 59%;
			margin-right: 7%;
			&-item{
				&__img{
					height: 248px;
					margin-bottom: 24px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&__title{
					font-weight: 600;
				}
				&__text{
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
		&-col{
			.title{
				margin-bottom: 8px;
			}
			&__text{
				font-size: 20px;
				line-height: 32px;
				margin-bottom: 24px;
			}
			&__btn{
				width: 205px;
				height: 48px;
			}
		}
	}
	&-clients{
		.title{
			text-align: center;
			margin-bottom: 8px;
		}
		&__text{
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 80px;
			text-align: center;
		}
		&-slider{
			margin: 0 -24px;
			.slick-prev, 
			.slick-next{
				height: 32px;
				width: 32px;
				z-index: 3;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				transform: none;
				top: auto;
				bottom: -50px;
				&:before{
					display: none;
				}
			}
			.slick-prev{
				background-image: url('../images/arr-prev.svg');
				left: auto;
				right: 78px;
			}
			.slick-next{
				background-image: url('../images/arr-next.svg');
				right: 30px;
			}
			&-item{
				border: 1px solid rgba(17, 17, 17, 0.25);
				padding: 16px;
				margin: 0 32px 32px;
				&__title{
					font-size: 20px;
					margin-bottom: 8px;
					text-align: center;
				}
				&-stars{
					margin-bottom: 16px;
					display: flex;
					justify-content: center;
					&[data-rating="5"]{
						svg:nth-child(1),
						svg:nth-child(2),
						svg:nth-child(3),
						svg:nth-child(4),
						svg:nth-child(5){
							fill: #DECDBE;
						}
					}
					&[data-rating="4"]{
						svg:nth-child(1),
						svg:nth-child(2),
						svg:nth-child(3),
						svg:nth-child(4){
							fill: #DECDBE;
						}
					}
					&[data-rating="3"]{
						svg:nth-child(1),
						svg:nth-child(2),
						svg:nth-child(3){
							fill: #DECDBE;
						}
					}
					&[data-rating="2"]{
						svg:nth-child(1),
						svg:nth-child(2){
							fill: #DECDBE;
						}
					}
					&[data-rating="1"]{
						svg:nth-child(1){
							fill: #DECDBE;
						}
					}
				}
				&__text{
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 24px;
					text-align: center;
				}
				&__name{
					margin-bottom: 16px;
					text-align: center;
				}
				&__ava{
					width: 64px;
					height: 64px;
					margin: 0 auto -48px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
		&-items{
			margin: 0 -8px;
			.slick-prev, 
			.slick-next{
				height: 32px;
				width: 32px;
				z-index: 3;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				transform: none;
				top: auto;
				bottom: -50px;
				&:before{
					display: none;
				}
			}
			.slick-prev{
				background-image: url('../images/arr-prev.svg');
				left: auto;
				right: 56px;
			}
			.slick-next{
				background-image: url('../images/arr-next.svg');
				right: 8px;
			}
			&-item{
				margin: 0 8px; 
				color: #FFFFFF;
				position: relative;
				@include hover{
					&:hover &-info{
						opacity: 1;
					}
				}
				&__img{
					padding-bottom: 100%;
					position: relative;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: absolute;
					}
				}
				&-info{
					position: absolute;
					bottom: 16px;
					left: 16px;
					opacity: 0;
					transition: .3s;
					&__name{
						font-weight: 600;
					}
					&__prof{
						margin-bottom: 16px;
					}
					&-socials{
						display: flex;
						a{
							display: flex;
							justify-content: center;
							align-items: center;
							width: 20px;
							height: 20px;
							background: #F5F5F5; 
							margin-right: 8px;
							svg path{
								transition: .3s;
							}
							@include hover{
								&:hover svg path{
									fill: #009874;
								}
							}
						}
					}
				}
			}
		}
	}
	&-team{
		.about-clients__text{
			max-width: 620px;
			margin: 0 auto 40px
		}
	}
}

@include w1024{
	.about{
		&-info{
			&__img{
				height: 440px;
			}
			&-col{
				p{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		&-grid{
			&-items{
				grid-gap: 16px;
				margin-right: 4%;
			}
			&-col{
				&__text{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		&-clients{
			&__text{
				margin-bottom: 32px;
			}
			&-slider{
				margin: 0 -8px;
				&-item{
					margin: 0 8px 32px;
				}
			}
			&-items{
				&-item{
					&-info{
						position: static;
						color: #111111;
						opacity: 1;
						margin-top: 16px;
						&__prof{
							font-size: 14px;
							margin-bottom: 8px;
						}
					}
				}
			}
		}
	}
}

@include w768{
	.about{
		&-banner{
			margin-bottom: 100px;
			margin-top: -128px;
		}
		&-info{
			&.mobile-col{
				.mycontainer{
					flex-direction: column-reverse;
				}
				.about-info__img{
					margin-left: 0;
					margin-bottom: 32px;
					height: 328px;
					width: 100%;
					img{
						object-position: 0 -80px;
					}
				}
			}
			&__img{
				margin-left: 16px;
				height: 320px;
			}
		}
		&-grid{
			.mycontainer{
				flex-direction: column-reverse;
				align-items: flex-start;
			}
			&-items{
				width: 100%;
				grid-gap: 24px 16px;
				margin-right: 0;
				&-item{
					&__img{
						height: 224px;
    				margin-bottom: 16px;
					}
				}
			}
			&-col{
				width: 100%;
				margin-bottom: 32px;
				position: relative;
				&__text{
					margin-bottom: 0;
				}
				&__btn{
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
		&-clients{
			&__text{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@include w480{
	.about{
		&-banner{
			margin-bottom: 48px;
			&-info{
				bottom: 24px;
				left: 16px;
				&__text{
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
		&-info{
			&.mobile-col{
				.about-info__img{
					height: 296px;
					img{
						object-position: center;
					}
				}
			}
			.mycontainer{
				flex-direction: column-reverse;
			}
			&__img{
				margin-left: 0;
				margin-bottom: 24px;
				height: 296px;
			}
		}
		&-grid{
			.mycontainer{
				padding-bottom: 70px;
				position: relative;
			}
			&-items{
				grid-gap: 40px;
				grid-template-columns: repeat(1, 1fr);
				&-item{
					&__img{
						height: 208px;
					}
				}
			}
			&-col{
				position: static;
				margin-bottom: 24px;
				&__btn{
					top: auto;
					bottom: 0;
					width: calc(100% - 32px);
					right: 16px;
					height: 40px;
				}
			}
		}
		&-clients{
			&-slider{
				margin: 0;
				display: flex;
				overflow-x: auto;
				margin: 0 -16px;
				padding: 0 8px;
				&:after{
					content: '';
					flex: 0 0 8px;
					height: 1px;
				}
				&-item{
					flex: 0 0 258px;
				}
			}
			&-items{
				margin: 0;
				display: flex;
				overflow-x: auto;
				margin: 0 -16px;
				padding: 0 12px;
				&-item{
					flex: 0 0 128px;
					margin: 0 4px;
				}
			}
		}
	}
}