.basket {
  .title {
    text-align: center;
    margin-bottom: 64px;
    margin-left: 0;
    text-transform: uppercase;
  }
  &-content {
    margin-bottom: 120px;
    &-tabs {
      width: 100%;
      &-navigation {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        border-bottom: 1px solid rgba(17, 17, 17, 0.25);
        padding-bottom: 10px;
        margin-bottom: 32px;
        &__item {
          margin-right: 48px;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 0;
            height: 3px;
            background: #000000;
            transition: 0.3s;
          }
          &.active {
            &:before {
              width: 100%;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &-tab {
        display: none;
        &.active {
          display: block;
        }
      }
      &-tab-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-goods {
      flex: 0 0 880px;
      &-item:first-of-type {
        border-top: 1px solid #eeeeee;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;
        &__img {
          flex: 0 0 86px;
          margin-right: auto;
          height: 106px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &-name {
          flex: 0 0 353px;
          margin-right: auto;
          &__title {
            font-size: 16px;
            line-height: 19px;
          }
          &__status {
            font-weight: 300;
            font-size: 14px;
            color: #009874;
          }
          .good-4items-items-item__name {
            margin-bottom: 10px;
          }
        }
        &-input {
          margin-right: 33px;
          margin-top: 20px;
        }
        &__price-box {
          flex: 0 0 105px;
          margin-right: auto;
          margin-top: 1px;
          text-align: right;
        }
        &__price {
          margin-right: auto;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          white-space: nowrap;
          margin: 5px 0;
        }
        &__price_discount {
          white-space: nowrap;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: line-through;
          color: #bebebe;
          min-height: 17px;
        }
        &__price_quantity {
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: #bebebe;
        }
        &-btns {
          margin-top: -8px;
        }
        &-btn__remove {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: none;
          padding: 8px;
          background: inherit;
        }
      }
    }

    &-side {
      flex: 0 0 414px;
      background: #f5f5f5;
      padding: 40px 30px;
      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }
      &-wrap {
        margin-top: 35px;
      }
      &-promo {
        display: flex;
        margin-bottom: 40px;
        margin-top: 30px;
        input {
          border: 0.5px solid #838383;
          border-right: none;
          flex: 1;
          height: 40px;
          padding: 0 16px;
          background: #ffffff;
        }
        button {
          border: 0.5px solid #838383;
          border-left: none;
          flex: 0 0 37%;
          cursor: pointer;
          height: 40px;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          background: #ffffff;
        }
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        span {
          &:first-of-type {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
          }
          &:last-of-type {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
      &-bot {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid rgba(17, 17, 17, 0.25);
        &__price {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
        }
        &__btn {
          font-size: 16px;
          line-height: 19px;
          color: #f5f5f5;
          height: 48px;
          margin-bottom: 16px;
          background: #111111;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 12px;
        }
        p {
          font-weight: 250;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}

.custom-select {
  position: relative;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.25);
    box-sizing: border-box;
    flex: 0 0 25%;
    cursor: pointer;
    padding: 15px 16px;
  }
  &__current {
    font-size: 16px;
    line-height: 18px;
    color: #111111;
  }
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 9px;
    margin-right: 6px;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      background: #111111;
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &::after {
      transform: rotate(45deg);
      left: 100%;
    }
  }
  &__body {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid rgba(17, 17, 17, 0.25);
    border-top: none;
    background: #ffffff;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  &__item {
    padding: 15px 16px;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
  }
}
.custom-select.active .custom-select__body {
  height: auto;
  visibility: visible;
  opacity: 1;
}

@include w1366 {
  .basket {
    &-content {
      &-goods {
        flex: 0 0 59%;
        &-item {
          &-name {
            flex: 0 0 280px;
          }
          &-input {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

@include w1024 {
  .basket {
    &-content {
      &-goods {
        width: 100%;
        margin-bottom: 40px;
        &-item {
          &-name {
            flex: 0 0 210px;
            margin-right: 10px;
            // &__title {
            //   font-size: 16px;
            //   line-height: 22px;
            // }
          }
          //   &-input {
          //     margin-top: 8px;
          //     margin-right: 10px;
          //   }
          &__price {
            margin-left: auto;
          }
        }
      }
      &-side {
        flex: 0 0 385px;
      }
    }
  }
}

@include w768 {
  .basket {
    .title {
      margin-bottom: 40px;
    }
    &-content {
      &-tabs-tab-box {
        flex-direction: column;
      }
      &-goods {
        width: 100%;
        margin-bottom: 40px;
        &-item {
          &-name {
            flex: 0 0 280px;
          }
        }
      }
      &-side {
        width: 100%;
        flex: auto;
        &__title {
          flex: 0 0 15%;
        }
        &-wrap {
          margin-top: 0;
          width: 60%;
          &-row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
          &-row_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        &-wrap_grid {
          grid-column-start: 1;
          grid-row-start: 2;
        }
        &-promo {
          margin-top: 0;
          flex: 0 0 400px;
          margin-bottom: 32px;
        }
        &-row {
          width: 220px;
        }
        &-bot {
          border: none;
          padding-top: 0;
          margin-top: 0;
          .basket-content-side-row {
            width: 100%;
          }
          &__btn {
            margin-top: 16px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@include w480 {
  .basket {
    .title {
      margin-bottom: 40px;
    }
    &-content {
      flex-direction: column;
      &-goods {
        &-item {
          position: relative;
          width: 100%;
          padding-bottom: 58px;
          // &:first-child {
          //   .basket-content-goods-item__price {
          //     top: 10px;
          //   }
          // }
          &__img {
            flex: 0 0 60px;
            margin-right: 8px;
          }
          &-name {
            margin-top: 24px;
            flex: 0 0 62%;
          }
          &-input {
            display: flex;
            align-items: center;
            position: absolute;
            left: 68px;
            bottom: 15px;
            p {
              white-space: nowrap;
              margin: 0;
              margin-left: 16px;
            }
          }
          &__price {
            position: absolute;
            top: 10px;
            left: 68px;
            margin-top: 0;
          }
          &__price_discount {
            position: absolute;
            top: 10px;
            right: 0;
          }
          &__price_quantity {
            position: absolute;
            top: 30px;
            right: 0;
          }
          &-btns {
            position: absolute;
            top: 50%;
            left: 90%;
          }
        }
      }
      &-side {
        width: 100%;
        flex: auto;
        &-wrap {
          width: 100%;
          margin: 30px 0;
          &-row {
            display: block;
          }
        }
        &-promo {
          flex: 100%;
          margin-bottom: 24px;
          input {
            width: calc(100% - 120px);
          }
          button {
            flex: 0 0 120px;
          }
        }
        &-row {
          width: 100%;
        }
        &-bot {
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid rgba(17, 17, 17, 0.25);
          &__btn {
            margin-top: 24px;
          }
        }
      }
    }
  }
}

@include w576 {
  .basket {
    .title {
      margin: 0 auto 25px;
      font-size: 24px;
    }
    &-content {
      &-tabs {
        &-navigation__item {
          margin-right: 0;
          font-size: 16px;
        }
      }
    }
  }
}

.row_personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.333333%;
}
