.basket {
  .title {
    text-align: center;
    margin-bottom: 64px;
    margin-left: 0;
    text-transform: uppercase;
  }
  &-content {
    margin-bottom: 120px;
    &-tabs {
      width: 100%;
      &-navigation {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        border-bottom: 1px solid rgba(17, 17, 17, 0.25);
        padding-bottom: 10px;
        margin-bottom: 32px;
        &__item {
          margin-right: 48px;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 0;
            height: 3px;
            background: #000000;
            transition: 0.3s;
          }
          &.active {
            &:before {
              width: 100%;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &-tab {
        display: flex;
        justify-content: space-between;
        // &.active {
        //   display: block;
        // } // Если понадобятся табы
      }
      &-tab-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-goods {
      flex: 0 0 880px;
      &-item:first-of-type {
        border-top: 1px solid #eeeeee;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;
        &__img {
          flex: 0 0 86px;
          margin-right: auto;
          height: 106px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &-name {
          flex: 0 0 353px;
          margin-right: auto;
          &__title {
            font-size: 16px;
            line-height: 19px;
          }
          &__status {
            font-weight: 300;
            font-size: 14px;
            color: #009874;
          }
          .good-4items-items-item__name {
            margin-bottom: 10px;
          }
        }
        &-input {
          margin-right: 33px;
          margin-top: 20px;
        }
        &__price-box {
          flex: 0 0 105px;
          margin-right: auto;
          margin-top: 1px;
          text-align: right;
        }
        &__price {
          margin-right: auto;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          white-space: nowrap;
          margin: 5px 0;
        }
        &__price_discount {
          white-space: nowrap;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: line-through;
          color: #bebebe;
          min-height: 17px;
        }
        &__price_quantity {
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: #bebebe;
        }
        &-btns {
          margin-top: -8px;
        }
        &-btn__remove {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: none;
          padding: 8px;
          background: inherit;
        }
      }
    }

    &-side {
      flex: 0 0 414px;
      max-height: 500px;
      background: #f5f5f5;
      padding: 40px 30px;
      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }
      &-wrap {
        margin-top: 35px;
      }
      &-promo {
        display: flex;
        margin-bottom: 40px;
        margin-top: 30px;
        input {
          border: 0.5px solid #838383;
          border-right: none;
          flex: 1;
          height: 40px;
          padding: 0 16px;
          background: #ffffff;
        }
        button {
          border: 0.5px solid #838383;
          border-left: none;
          flex: 0 0 37%;
          cursor: pointer;
          height: 40px;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          background: #ffffff;
        }
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        span {
          &:first-of-type {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
          }
          &:last-of-type {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
      &-bot {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid rgba(17, 17, 17, 0.25);
        &__price {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
        }
        &__btn {
          font-size: 16px;
          line-height: 19px;
          color: #f5f5f5;
          width: 100%;
          height: 48px;
          margin-bottom: 16px;
          background: #111111;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 12px;
        }
        p {
          font-weight: 250;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
  // delivery page
  .cart-form {
    flex: 0 0 758px;
  }

  &-content {
    &-delivery {
      &-row {
        &__title {
          text-align: left;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #111111;
          margin-bottom: 20px;
        }
        &__block {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        &-col {
          flex: 0 0 242px;
          .custom-radio {
            display: flex;
            flex-direction: column;
            min-height: 128px;
            border: 1px solid rgba(17, 17, 17, 0.25);
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding: 16px 16px 13px 16px;
            input {
              position: absolute;
              top: 0;
              left: 0;
              visibility: visible;
              z-index: -1;
            }
            &:hover {
              border: 1px solid #111111;
            }
            &:focus {
              box-shadow: 0 0 2px 2px rgba(17, 17, 17, 0.25);
            }
          }
          .custom-radio > input:checked + .basket-content-delivery-row-col__date-price {
            font-size: 16px;
            line-height: 19px;
          }
          .custom-radio.checked {
            box-shadow: 0 0 2px 2px rgba(17, 17, 17, 0.25);
          }

          &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #111111;
            margin-bottom: 4px;
          }
          &__text {
            flex: 1 1 auto;
            max-width: 198px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #111111;
          }
          &__date-price {
            display: flex;
            justify-content: space-between;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #111111;
          }
        }
        &__sub-title {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #111111;
          margin: 30px 0 20px 0;
        }
      }
      &-info {
        font-style: normal;
        font-weight: 250;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        margin-top: 10px;
      }
      &-row.row__personal {
        margin-top: 60px;
      }
    }
  }
  .cart-form {
    &-personal-box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 20px;
      margin-bottom: 60px;
    }
    &-label {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 250;
      font-size: 14px;
      line-height: 16px;
      color: #111111;
      & input {
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        padding: 16px;
        border: 1px solid rgba(17, 17, 17, 0.25);
        box-sizing: border-box;
        &:hover,
        &:focus {
          box-shadow: 0 0 2px 2px rgba(17, 17, 17, 0.25);
        }
      }
      & input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: rgba(17, 17, 17, 0.5);
      }
      &-address {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &-email,
      &-comment {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
}

.select {
  width: 100%;
  flex: 0 0 370px;
  &-wrapper {
    position: relative;
    width: 100%;
    min-height: 48px;
  }
  &-wrapper.icon-rotated .select-icon {
    transform: translateY(-45%) rotate(180deg);
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: auto;
    right: 16px;
    transform: translateY(-50%) rotate(0);
    transition: transform 0.5s ease 0s;
    pointer-events: none;
    &::before {
      content: url(/assets/images/dropdown-arrow.svg);
    }
  }
  &-date {
    appearance: none;
    border: 1px solid rgba(17, 17, 17, 0.25);
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 15px 25px 15px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #111111;
    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 2px 2px rgba(17, 17, 17, 0.25);
    }
    &option {
      width: inherit;
    }
  }
}

.payment-form {
  .basket-content-delivery-row-col {
    flex: 0 0 355px;
  }
  .custom-radio {
    min-height: 88px;
  }
  .basket-content-delivery-row-col__text {
    max-width: unset;
  }
}

@include w1366 {
  .basket {
    &-content {
      &-goods {
        flex: 0 0 59%;
        &-item {
          &-name {
            flex: 0 0 280px;
          }
          &-input {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

@include w1024 {
  .basket {
    &-content {
      &-goods {
        width: 100%;
        margin-bottom: 40px;
        flex: auto;
        &-item {
          &-name {
            flex: 0 0 210px;
            margin-right: 10px;
            // &__title {
            //   font-size: 16px;
            //   line-height: 22px;
            // }
          }
          //   &-input {
          //     margin-top: 8px;
          //     margin-right: 10px;
          //   }
          &__price {
            margin-left: auto;
          }
        }
      }
      &-tabs {
        &-tab {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
      .cart-form {
        flex: 0 0 auto;
      }
      &-side {
        flex: 0 0 auto;
      }


    }
    .payment-form {
      margin-bottom: 30px;
    }
  }
}

@include w768 {
  .basket {
    .title {
      margin-bottom: 40px;
    }
    &-content {
      &-tabs-tab-box {
        flex-direction: column;
      }
      .cart-form {
        &-personal-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0 auto 30px auto; 
          width: 80%;
        }
      }
      &-delivery-row.row__personal {
        margin-top: 30px;
      }
      &-delivery-row-col {
        flex: 0 0 230px;
      }
      .select {
        flex: 0 0 350px;
      }
      &-goods {
        &-item {
          &-name {
            flex: 0 0 280px;
          }
        }
      }
      &-side {
        width: 100%;
        flex: auto;
        &__title {
          flex: 0 0 15%;
        }
        &-wrap {
          margin-top: 0;
          width: 60%;
          &-row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
          &-row_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        &-wrap_grid {
          grid-column-start: 1;
          grid-row-start: 2;
        }
        &-promo {
          margin-top: 0;
          flex: 0 0 400px;
          margin-bottom: 32px;
        }
        &-row {
          width: 220px;
        }
        &-bot {
          border: none;
          padding-top: 0;
          margin-top: 0;
          .basket-content-side-row {
            width: 100%;
          }
          &__btn {
            margin-top: 16px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@include w480 {
  .basket {
    .title {
      margin-bottom: 40px;
    }
    &-content {
      flex-direction: column;
      &-goods {
        &-item {
          position: relative;
          width: 100%;
          padding-bottom: 58px;
          // &:first-child {
          //   .basket-content-goods-item__price {
          //     top: 10px;
          //   }
          // }
          &__img {
            flex: 0 0 60px;
            margin-right: 8px;
          }
          &-name {
            margin-top: 24px;
            flex: 0 0 62%;
          }
          &-input {
            display: flex;
            align-items: center;
            position: absolute;
            left: 68px;
            bottom: 15px;
            p {
              white-space: nowrap;
              margin: 0;
              margin-left: 16px;
            }
          }
          &__price {
            position: absolute;
            top: 10px;
            left: 68px;
            margin-top: 0;
          }
          &__price_discount {
            position: absolute;
            top: 10px;
            right: 0;
          }
          &__price_quantity {
            position: absolute;
            top: 30px;
            right: 0;
          }
          &-btns {
            position: absolute;
            top: 50%;
            left: 90%;
          }
        }
      }
      &-delivery {
        &-row__block {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
        &-block {
          flex: auto;
          width: 100%;
        }
        &-row {
          flex: auto;
          width: 100%;
          &-col {
            width: 100%;
            flex: auto;
            margin-bottom: 10px;
          }
        }
        .select {
          width: 100%;
          flex: auto;
          margin-bottom: 10px;
        }
        .cart-form {
          &-personal-box {
            width: 100%;
          }
        }
      }
      &-side {
        width: 100%;
        flex: auto;
        &-wrap {
          width: 100%;
          margin: 30px 0;
          &-row {
            display: block;
          }
        }
        &-promo {
          flex: 100%;
          margin-bottom: 24px;
          input {
            width: calc(100% - 120px);
          }
          button {
            flex: 0 0 120px;
          }
        }
        &-row {
          width: 100%;
        }
        &-bot {
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid rgba(17, 17, 17, 0.25);
          &__btn {
            margin-top: 24px;
          }
        }
      }
    }
  }
  .payment-form {
    .basket-content-delivery-row-col {
      flex: auto;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@include w576 {
  .basket {
    .title {
      margin: 0 auto 25px;
      font-size: 24px;
    }
    &-content {
      &-tabs {
        &-navigation__item {
          margin-right: 0;
          font-size: 16px;
        }
      }
    }
  }
}

.row_personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.333333%;
}
