@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.eot');
	src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Light.woff') format('woff'),
	url('../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.eot');
	src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-SemiBold.woff') format('woff'),
	url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'mr_HamiltoneG';
    src: url('../fonts/mr_HamiltoneG.eot');
    src: url('../fonts/mr_HamiltoneG.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mr_HamiltoneG.woff2') format('woff2'),
        url('../fonts/mr_HamiltoneG.woff') format('woff'),
        url('../fonts/mr_HamiltoneG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mr_HamiltoneG';
    src: url('../fonts/mr_HamiltoneG.eot');
    src: url('../fonts/mr_HamiltoneG.eot') format('embedded-opentype'),
         url('../fonts/mr_HamiltoneG.woff2') format('woff2'),
         url('../fonts/mr_HamiltoneG.woff') format('woff'),
         url('../fonts/mr_HamiltoneG.ttf') format('truetype'),
         url('../fonts/mr_HamiltoneG.svg#mr_HamiltoneG') format('svg');
}

