.footer {
  background: #f5f5f5;
  padding: 44px 0 0 0;
  min-height: 290px;

  &-row {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 80px;
    }

    & + & {
      margin-top: 40px;
    }

    &__logo-box {
      .logo-text {
        margin-top: 10px;
      }
    }

    &__title {
      font-weight: 600;
      margin-bottom: 24px;
      line-height: 19px;
    }

    &__title-col {
      margin-bottom: 25px;
    }
    &-col:first-of-type {
      height: 145px;
    }
    &-col:last-of-type > .footer-row__title-col {
      margin-bottom: 5px;
    }

    &-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .contacts-box {
        &__social-box {
          display: flex;
        }

        &__phone-link {
          margin-bottom: 10px;
        }

        .social-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 1px solid #dadada;
          margin-right: 15px;
        }
      }

      .payment-box {
        margin-top: 25px;

        &__title {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          text-transform: uppercase;
          color: #111111;
          margin-bottom: 15px;
        }
        &__system-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
.footer_main {
  padding: 0;
  .footer-contacts {
    min-height: 105px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 319px;
      width: 100%;
    }
    &-inst {
      display: flex;
    }
    &-link {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 19px;
      color: #111111;
    }
    &-link.link-img {
      width: 25px;
      height: 25px;
      border: 1px solid #dadada;
      box-sizing: border-box;
      justify-content: center;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .footer-row {
    padding-top: 44px;
  }
}

@include w768 {
  .footer {
    padding: 16px 0 24px;

    .mycontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    .mycontainer.for-subscribe {
      align-items: center;
      justify-content: center;
    }

    &-row {
      &:nth-child(1) {
        flex-direction: column;
        margin-bottom: 0;
      }

      &:nth-child(2) {
        flex-direction: column;
        margin-top: 0;
        width: 205px;
      }

      &:nth-child(3) {
        width: 100%;
        margin-top: 56px;
      }

      &__title {
        margin-bottom: 16px;
      }

      &__link {
        margin-bottom: 16px;
      }

      &-col {
        & + & {
          margin-top: 40px;
        }

        .general-form .general-itemInput__input {
          width: 222px;
        }
      }

      &-socials {
        a {
          width: 40px;
          height: 40px;
          margin-right: 24px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__text {
        line-height: 16px;
      }
    }
    .footer-contacts {
      &-content {
        padding: 0 15px;
      }
    }
  }
}

@include w480 {
  .footer {
    &-row {
      &:nth-child(2) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 40px;

        .footer-row__link {
          flex: 0 0 50%;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 8px;
        }
      }

      &:nth-child(3) {
        flex-direction: column;

        .footer-row__text {
          margin-bottom: 8px;
        }
      }

      &__title {
        width: 100%;
      }

      &-col {
        &:first-child {
          display: flex;
          flex-wrap: wrap;

          .footer-row__link {
            width: 50%;
          }
        }

        .general-form {
          flex-direction: column;
          border: none;

          .general-itemInput__input {
            border: 1px solid #838383;
            margin-bottom: 8px;
            width: 100%;
          }

          .general__btn {
            border: 1px solid #838383;
            width: 100%;
          }
        }
      }

      &__text {
        a {
          display: inline;
        }
      }
    }
  }
}
